[Unit]
Description=GnuPG network certificate management daemon
Documentation=man:dirmngr(8)
Requires=dirmngr.socket

[Service]
Sockets=dirmngr.socket
ExecStart=/usr/bin/dirmngr --supervised --options $DIRMNGR_CONF --homedir $GNUPGHOME
ExecReload=/usr/bin/gpgconf --reload dirmngr

[Install]
WantedBy=graphical-session-pre.target
